@model IEnumerable<PanelWork.Models.Sifari>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">SİFARİŞLƏR</h2>

<p>
    @Html.ActionLink("ƏLAVƏ ET", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ad,Soyad
        </th>
        <th>
            Telefon
        </th>
        <th>
            Mehsul
        </th>
        <th>
            Ünvan
        </th>
        <th>
            Tarix
        </th>
        <th>
            Sifaris novu
        </th>
        <th>
            Sifarisi goturen
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {

    using (Html.BeginForm("Join", "Home", FormMethod.Post))
    {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sifarisci_ad_soyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sifarisci_telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sifarisci_unvani)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sifaris_mehsul_adi)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sifaris_tarixi)

        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SifarisNovu.sifaris_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Istifadeci.user_name)
        </td>
        <td>
            <a class="btn btn-primary" href="/Home/Join/@item.sifaris_id">Təsdiqlə</a><br />
            @Html.ActionLink("Düzəlt", "Edit", new { id = item.sifaris_id }) |
            @Html.ActionLink("Bax", "Details", new { id = item.sifaris_id })
            @*@Html.ActionLink("Delete", "Delete", new { id = item.sifaris_id })*@
        </td>
    </tr>
    }
}

</table>
